#partial-follower-list-modal.modal
    .modal-content
        h4 Ooops... :(
        p You have exceeded the maximum number of queries you can send to Twitter. The page will still report what we managed to download, but we cannot guarantee it reflects the actual state of the network graph. Try reussing the query in a little while...we are caching results, so things should go better!
    .modal-footer
        a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='#') Gotcha!