#twitter-error-modal.modal
    .modal-content
        h4 Ooops... :(
        p It seems that Twitter is not reachable from your location. Check your Internet connection (and check your network policies!)
    .modal-footer
        a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href='/me') Back!